*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#ffd9e8,#fff1f7);

font-family:Caveat,cursive;


overflow:hidden;

}

/* Card */

.card{

width:950px;
height:630px;

position:relative;

perspective:2000px;

}


.front{

position:absolute;

width:100%;
height:100%;

background:linear-gradient(145deg,#ff9fc5,#ff76a8);

border-radius:20px;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

color:white;

cursor:pointer;

transform-origin:left;

transition:1s;

box-shadow:0 20px 40px rgba(0,0,0,.2);

z-index:2;

}

.front h1{

font-family:Caveat,cursive;

font-size:70px;

}

.front p{

font-size:22px;

margin-top:10px;

}

.heart{

	font-family:Caveat,cursive;
    color: #8A9A5B;
    font-size: 70px;
    animation: pulse 2s infinite;
}
}

@keyframes pulse{

50%{

transform:scale(1.2);

}

}


#openCard{

display:none;

}

#openCard:checked + .card .front{

transform:rotateY(-160deg);

}


.inside{

width:100%;
height:100%;

background:#fffafc;

border-radius:20px;

padding:35px;

box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.inside h1{

text-align:center;

font-family:Caveat,cursive;

font-size:55px;

color:#ff5b95;

margin-bottom:20px;

}

.content{

display:flex;

gap:30px;

height:500px;

}


.photos{
width:35%;
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;

}

.frame{

background:white;

padding:8px;

border-radius:12px;

box-shadow:0 10px 20px rgba(0,0,0,.12);

height:200px;

}

.frame img{

width:100%;
height:100%;

object-fit:cover;

border-radius:8px;

}

/* Letter */

.letter{

width:65%;

overflow:auto;

padding-right:10px;

}

.letter p{

margin-bottom:18px;

line-height:1.8;

font-size:17px;

color:#555;

}

.letter h2{

margin-top:30px;

text-align:center;

color:#ff5b95;

font-family:Caveat,cursive;

font-size:42px;

}

/* Flowers */

.uhm{

position:absolute;

font-size:70px;

opacity:.8;

animation:float 5s ease-in-out infinite;

}

.lily1{

top:20px;
left:30px;

}

.hart{

top:40px;
right:40px;

}

.shot{

bottom:20px;
left:50px;

}

.wave{

bottom:30px;
right:50px;
}
@keyframes float{
0%,100%{
transform:translateY(0);
}
50%{
transform:translateY(-10px);
}

}